/** @format */

/* Home */
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

/* Nav and body */
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Tenor Sans;
  }
}

@font-face {
  font-family: "atteron";
  src: url("../src/assets/Atteron.ttf");
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.content-div:hover {
  background: #1c1918 !important;
  /* passing styles through style element on React, apparently makes React neglect the styles, so needed to declare "!important */
}

.dark {
  @apply bg-darkBg text-darkText;
}

body {
  /* overflow: hidden; */
}
